*.aux
*.bbl
*.blg
*.log
*.out
latex.pdf
*.synctex.gz
*.toc
.idea/
.ide/
.gradle/
*.kate-swp
*.spl
elsarticle.cls
!images/*.pdf
*.nav
*.snm
*-blx.bib
*.run.xml
.DS_Store
paper-2021-swarm-intelligence-si.pdf
submission/cover-letter.pdf
revision-1/*.pdf