*.aux
*.bbl
*.blg
*.log
*.out
latex.pdf
*.synctex.gz
*.toc
.idea/
.ide/
.gradle/
*.kate-swp
elsarticle-template.pdf
elsarticle-template.spl
elsarticle.cls
*.dvi
paper-2021-appliedsoftcomp-pulverisation.pdf
*.spl
_minted*/
review-version.pdf
*-blx.bib
cover-letter.pdf
*.run.xml
*.bcf
paper-2021-pulverisation-simulation-methodology.pdf
paper-2021-ieee-iot-pulverisation-simulation-methodology.pdf
bare_jrnl.pdf
paper21-softwarex-scafi.pdf
textual.txt
revision-1-minor/revision-letter.pdf
